body {
  text-align: center;
  margin: 10;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 400px;
  margin: auto;
}

/* Настраиваем внешний вид поля ввода*/
.form-control {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

/*Как будет выглядеть каждый элемент нашего списка*/
.todo-item {
  text-align: left;
  padding: 10px;
  cursor: default;
  border-radius: 7px;
}

/*Что произойдёт, когда мы наведём курсор на любую задачу из списка*/
.todo-item:hover {
  background-color: lightblue;
}




body {

  background-color: #8e9599;

  background-image: url(images/gradient.jpg);

  background-repeat: repeat-x;

}

.sliding-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #f36818, #e65f12ec, #ee6211b6, #ee5c37);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #eb1010, #480baa, #1708f0, #eb2416);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}

.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}








.form-control {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #f36818, #e65f12ec, #ee6211b6, #ee5c37);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.form-control:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #f3b1b1, #f58383, #f54343, #fc3325);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.form-control:hover {
  background: rgba(255, 255, 255, 0);
}

.form-control:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}